/* ------------Presentation section -------- */

#presentationSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../img/fontweiwe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.contenaireAnimation {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.imgAnimation1,
.imgAnimation2,
.imgAnimation3,
.imgAnimation4,
.imgAnimation5,
.imgAnimation6,
.imgAnimation7,
.imgAnimation8,
.imgAnimation9,
.imgAnimation10,
.imgAnimation11,
.imgAnimation12,
.imgAnimation13,
.imgAnimation14 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.imgAnimation1 {
    background-image: url(../img/plan4_1.png);
    left: 0;
}

.imgAnimation2 {
    background-image: url(../img/plan4_2.png);
    right: 0;
}

.imgAnimation3 {
    background-image: url(../img/plan4_3.png);
    left: 0;
}

.imgAnimation4 {
    background-image: url(../img/plan4_4.png);
    right: 0;
}

.imgAnimation5 {
    background-image: url(../img/plan4_5.png);
    left: 0;
}

.imgAnimation6 {
    background-image: url(../img/plan4_6.png);
    left: 0;
}

.imgAnimation7 {
    background-image: url(../img/plan4_7.png);
    left: 0;
}

.imgAnimation8 {
    background-image: url(../img/3planguauche.png);
    right: 0;
}

.imgAnimation9 {
    background-image: url(../img/3plandroit.png);
    left: 0;
}

.imgAnimation10 {
    background-image: url(../img/2planguauche.png);
    right: 0;
}

.imgAnimation11 {
    background-image: url(../img/2plandroit.png);
    left: 0;
}

.imgAnimation12 {
    background-image: url(../img/1planguauche.png);
    right: 0;
}

.imgAnimation13 {
    background-image: url(../img/1plandroit.png);
    right: 0;
}

.imgAnimation14 {
    background-color: rgb(0, 0, 0, 0.3);
}

.title {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.presentationTitle {
    width: 90%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.presentationTitletow {
    width: 90%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentationTitle h1 {
    color: #BFA76A;
    text-shadow: black -4px 4px 5px;
    font-size: 9vw;
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 0px 0px 2px black, 0 0 3px black, 0 0 4px black;
    visibility: hidden;
    opacity: 0;
}

.presentationTitletow h2 {
    opacity: 0;
    visibility: hidden;
    color: white;
    font-size: 6vw;
    margin-top: 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-weight: 100;
}

.titleNext {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contactButun {
    opacity: 0;
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: #BFA76A;
    box-shadow: -4px 4px 5px black;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
}

.contactButun a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    font-family: 'Montserrat Regular', 'Times New Roman', Times, serif;
}

.next {
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #fff;
    place-self: center end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next a img {
    width: 20px;
    height: 25px;
}


/*----------about---------------------*/

#about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.quotes {
    width: 100%;
    font-family: 'Gloria Hallelujah Regular', 'Times New Roman', Times, serif;
    color: #BFA76A;
}

.quotes p:nth-child(1) {
    font-size: 25px;
    text-align: center;
}

.quotes p:nth-child(2) {
    font-family: 'Montserrat Regular', 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
    text-align: end;
    margin: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.bodyAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyAbout .titleAbout {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.bodyAbout .titleAbout h3 {
    font-size: 12vw;
    text-align: center;
    margin-bottom: 10px;
}

.bodyAbout .titleAbout h2 {
    font-size: 19vw;
    text-align: center;
}

.bodyAbout .textImgAbout {
    width: 100%;
    padding: 0 20px 0 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.findOutMore {
    justify-self: end;
    max-width: 250px;
    height: 48px;
    margin: 40px 10px;
    border: 2px solid #BFA76A;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.findOutMore::before {
    content: '';
    position: absolute;
    top: 0;
    right: 120%;
    width: 130%;
    height: 100%;
    background: #BFA76A;
    transition: all .5s;
    z-index: -1;
    transform: skewx(-50deg);
}

.findOutMore:hover::before {
    right: -17%;
    z-index: 100;
}

.findOutMore a {
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    text-decoration: none;
    color: #BFA76A;
    transition: all .5s;
    z-index: 100;
}

.findOutMore a:hover {
    color: black;
}

.bodyAbout .textImgAbout .imgAbout {
    width: 100%;
    height: 75vw;
    position: relative;
    margin-bottom: 30px;
}

.imgAboutOne,
.imgAboutTwo {
    width: 61vw;
    max-width: 250px;
    height: 40vw;
    max-height: 176px;
    background-color: #BFA76A;
    position: relative;
}

.textImgAbout .imgAbout .imgAboutOne img,
.textImgAbout .imgAbout .imgAboutTwo img {
    width: 58vw;
    max-width: 240px;
    height: 37vw;
    max-height: 169px;
}

.textImgAbout .imgAbout .imgAboutOne img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.imgAboutTwo {
    position: absolute;
    right: 0;
    bottom: 0;
}


/*----------separator--------------------*/

.tr {
    width: 100vw;
    height: 50px;
    margin: 0;
    padding: 0;
    background-image: url(../img/liane.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*----------services---------------------*/

#services {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleService {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleService h3 {
    font-size: 10vw;
    text-align: center;
}

.titleService h2 {
    font-size: 15vw;
    text-align: center;
}

.card {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card .designWeb,
.card .formulaWeb,
.card .outsourcing {
    width: 80%;
    max-width: 460px;
    height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
}

.card .designWeb h4,
.card .formulaWeb h4,
.card .outsourcing h4 {
    width: 100%;
    padding: 50px 3px;
    color: #044389;
    text-align: center;
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-size: 10vw;
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    line-height: 30px;
}

.card .outsourcing h4 {
    font-size: 8vw;
}

.card .designWeb p,
.card .formulaWeb p,
.card .outsourcing p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.card .designWeb .findOutMore,
.card .formulaWeb .findOutMore,
.card .outsourcing .findOutMore {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 79%;
    left: 48%;
    transform: translateX(-48%);
    border: 2px solid #044389;
    background-color: #fff;
}

.card .formulaWeb .findOutMore {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
}

.card .designWeb .findOutMore::before,
.card .formulaWeb .findOutMore::before,
.card .outsourcing .findOutMore::before {
    content: '';
    position: absolute;
    top: 0;
    right: 120%;
    width: 130%;
    height: 100%;
    background: #044389;
    transition: all .5s;
    z-index: -1;
    transform: skewx(-50deg);
}

.card .designWeb .findOutMore:hover::before,
.card .formulaWeb .findOutMore:hover::before,
.card .outsourcing .findOutMore:hover::before {
    right: -17%;
}

.card .designWeb .findOutMore a,
.card .formulaWeb .findOutMore a,
.card .outsourcing .findOutMore a {
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    margin-top: 7%;
    text-decoration: none;
    color: #044389;
    transition: all .5s;
}

.card .designWeb .findOutMore a:hover,
.card .formulaWeb .findOutMore a:hover,
.card .outsourcing .findOutMore a:hover {
    color: white;
}

.card .designWeb img:nth-child(1) {
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card .designWeb .imgTowDesignWeb {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card .formulaWeb img:nth-child(1) {
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.card .formulaWeb .imgTowFormulaWeb {
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.card .outsourcing img:nth-child(1) {
    width: 300px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.card .outsourcing .imgTowOutsourcing {
    width: 400px;
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: -1;
}

#services .cardImgEnd {
    width: 300px;
    position: relative;
    bottom: -30px;
    left: -80px;
    z-index: -1;
}


/*----------expertise-------------------*/

#expertise {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.titleExpertise {
    width: 100vw;
    position: absolute;
    top: 0;
}

.titleExpertise h2 {
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.quotes {
    position: relative;
}

.titleExpertise .quotes .quotesTwo,
.titleExpertise .quotes .quotesThree,
.titleExpertise .quotes .quotesFour {
    opacity: 0;
    position: absolute;
    top: 0;
}

.titleExpertise .quotes .quotesOne p:nth-child(1),
.titleExpertise .quotes .quotesTwo p:nth-child(1),
.titleExpertise .quotes .quotesThree p:nth-child(1),
.titleExpertise .quotes .quotesFour p:nth-child(1) {
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 20px;
}

.titleExpertise .quotes .quotesOne p:nth-child(2),
.titleExpertise .quotes .quotesTwo p:nth-child(2),
.titleExpertise .quotes .quotesThree p:nth-child(2),
.titleExpertise .quotes .quotesFour p:nth-child(2) {
    color: white;
    margin-right: 20px;
    font-size: 1rem;
}

.bodyExpertise {
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.bodyExpertise .menuExpertise {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: end;
}

.bodyExpertise .menuExpertise .listeMenuExpertise {
    width: 96%;
    border: 1px solid #BFA76A;
    border-radius: 50%;
    border-right: none;
    border-bottom: none;
    border-top: none;
    margin-left: 50px;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div {
    width: 80vw;
    min-height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div::before {
    content: '•';
    color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #BFA76A;
    position: absolute;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
    margin-top: 275px;
    padding: 0 20px;
    z-index: 600;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
    top: 35%;
    left: -2.5vw;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
    margin-left: .5vw;
    padding: 0 20px;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
    top: 35%;
    left: -2.5vw;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
    margin-left: 6.4vw;
    padding: 0 20px;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
    top: 35%;
    left: -3vw;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
    margin-left: 21vw;
    padding: 0 20px;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4)::before {
    top: 35%;
    left: -3.5vw;
}

.bodyExpertise .menuExpertise .listeMenuExpertise p {
    text-align: center;
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 10px black;
}

.bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) p {
    padding-left: 10px;
    padding-bottom: 20px;
}

.bodyExpertise .menuExpertise .listeMenuExpertise .activeExpertise {
    background-image: url(../img/leaft.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bodyExpertise .menuExpertise .listeMenuExpertise .activeExpertise::before {
    content: '•';
    color: transparent;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 35%;
    left: -3.5%;
}

.explanationsExpertise {
    background-color: black;
    width: 100vw;
    height: 900px;
    position: relative;
}

.explanationsExpertise div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}

.explanationsExpertise div h3 {
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #BFA76A;
    text-align: start;
    padding: 0 20px;
    margin-top: 5vh;
    margin-bottom: 6vh;
    padding: 10px 0;
}

.explanationsExpertise div p {
    font-size: 1.2rem;
    padding: 0 20px;
}

.managementExpertise {
    background-image: url(../img/expertisePreject.jpg);
}

.disgnExpertise {
    background-image: url(../img/expertiseDesign.jpg);
}

.devExpertise {
    background-image: url(../img/expertiseDev.jpg);
}

.performanceExpertise {
    background-image: url(../img/expertisePerformance.jpg);
}

.managementExpertise,
.disgnExpertise,
.devExpertise,
.performanceExpertise {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explanationsExpertise .explanationsExpertiseActive {
    opacity: 1;
}


/*----------contact---------------------*/

#contact {
    width: 100vw;
    height: 5000px;
    min-height: 100vh;
}


/*----------media querise--------------------------------*/


/*-------height management--------------*/

@media screen and (max-height: 450px) {
    #presentationSection {
        height: 700px;
    }
    .title {
        width: 100%;
        height: 100%;
    }
    .presentationTitle {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}


/*-------width management--------------*/

@media screen and (min-width: 350px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 8.5vw;
    }
    .titleNext {
        margin-bottom: 30px;
    }
    /*----------about---------------------*/
    /*----------services---------------------*/
    /*----------expertise-------------------*/
    .explanationsExpertise div h3 {
        padding: 0 20px;
    }
}

@media screen and (min-width: 450px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 6.5vw;
    }
    .presentationTitletow h2 {
        font-size: 5vw;
        margin-top: 10px;
    }
    .contactButun {
        width: 200px;
        height: 50px;
    }
    .contactButun a {
        font-size: 20px;
    }
    .next {
        width: 60px;
        height: 60px;
    }
    .next a img {
        width: 25px;
        height: 35px;
    }
    /*----------about---------------------*/
    .quotes p:nth-child(1) {
        font-size: 20px;
    }
    .quotes p:nth-child(2) {
        font-size: 12px;
        margin-top: 0;
    }
    .bodyAbout .titleAbout h3 {
        font-size: 6vw;
    }
    .bodyAbout .titleAbout h2 {
        font-size: 10vw;
        text-align: center;
    }
    .bodyAbout .textImgAbout {
        font-size: 1.2rem;
    }
    .imgAboutTwo {
        position: absolute;
        left: 170px;
        top: 150px;
    }
    /*----------services---------------------*/
    .card .designWeb h4,
    .card .formulaWeb h4,
    .card .outsourcing h4 {
        font-size: 1.9rem;
    }
    .card .designWeb p,
    .card .formulaWeb p,
    .card .outsourcing p {
        font-size: 1.4rem;
    }
    #services .cardImgEnd {
        width: 360px;
        left: -20vw;
    }
    /*----------expertise-------------------*/
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        margin-top: 170px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        top: 40%;
        left: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        top: 52.6px;
        left: -2.5vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: -4vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4)::before {
        top: 53px;
        left: -2;
    }
    .explanationsExpertise {
        height: 700px;
    }
}

@media screen and (min-width: 600px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 90%;
    }
    .presentationTitle h1 {
        font-size: 6vw;
    }
    .presentationTitletow h2 {
        font-size: 4.5vw;
    }
    /*----------about---------------------*/
    .quotes p:nth-child(2) {
        font-size: 12px;
        margin-right: 5vw;
    }
    .bodyAbout .titleAbout h3 {
        font-size: 6vw;
    }
    .bodyAbout .titleAbout h2 {
        font-size: 10vw;
        text-align: center;
    }
    .bodyAbout .textImgAbout {
        font-size: 1.2rem;
    }
    .bodyAbout .textImgAbout .imgAbout {
        height: 350px;
    }
    /*----------services---------------------*/
    .titleService h3 {
        font-size: 7vw;
    }
    .titleService h2 {
        font-size: 10vw;
    }
    #services .cardImgEnd {
        width: 400px;
        left: -40vw;
    }
    /*----------expertise-------------------*/
    .bodyExpertise .menuExpertise .listeMenuExpertise .activeExpertise {
        justify-content: flex-start;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        padding: 0 40px;
    }
    .explanationsExpertise div h3 {
        padding: 0 20px;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.3rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1rem;
    }
    .explanationsExpertise {
        height: 650px;
        padding: 20px 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        margin-top: 170px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: 3px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        left: -2.2vw;
    }
    .explanationsExpertise {
        height: 600px;
    }
    .explanationsExpertise div p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 70%;
    }
    .presentationTitle h1 {
        font-size: 4vw;
        margin-bottom: 50px;
    }
    .presentationTitletow h2 {
        font-size: 3.5vw;
    }
    .titleNext {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    .contactButun {
        width: 250px;
        height: 50px;
        margin-left: 50px;
    }
    .contactButun a {
        font-size: 25px;
    }
    .next {
        width: 60px;
        height: 60px;
    }
    .next a img {
        width: 25px;
        height: 35px;
    }
    /*----------about---------------------*/
    .quotes p:nth-child(2) {
        font-size: 12px;
        margin-right: 15%;
    }
    .bodyAbout .titleAbout h3 {
        font-size: 6vw;
    }
    .bodyAbout .titleAbout h2 {
        font-size: 10vw;
        text-align: center;
    }
    .bodyAbout .textImgAbout {
        width: 100%;
        padding: 0 20px 0 20px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .bodyAbout .textImgAbout .txtAbout {
        width: 100%;
        height: 500px;
    }
    .bodyAbout .textImgAbout .imgAbout {
        width: 70%;
        height: 500px;
        overflow: hidden;
    }
    .imgAboutTwo {
        position: absolute;
        left: 10px;
        top: 175px;
    }
    /*----------services---------------------*/
    .titleService {
        width: 90%;
    }
    .titleService h3 {
        font-size: 5vw;
        text-align: start;
    }
    .titleService h2 {
        font-size: 8vw;
        text-align: end;
    }
    /*----------expertise-------------------*/
    .bodyExpertise .menuExpertise .listeMenuExpertise .activeExpertise {
        width: 480px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        padding: 0 0;
    }
    .titleExpertise h2 {
        font-size: 3rem;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        margin-top: 190px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: 5px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        left: -1.8vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: -5.5%;
        bottom: -20%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4)::before {
        left: -2vw;
    }
    .explanationsExpertise {
        height: 550px;
    }
    .explanationsExpertise div h3 {
        padding: 0 100px;
    }
    .explanationsExpertise div p {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1000px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 3vw;
        margin-bottom: 50px;
    }
    .presentationTitletow h2 {
        font-size: 2vw;
    }
    /*----------about---------------------*/
    .quotes p:nth-child(1) {
        font-size: 30px;
    }
    .quotes p:nth-child(2) {
        margin-right: 17vw;
    }
    .bodyAbout .titleAbout h3 {
        font-size: 2.5vw;
        position: relative;
        left: -2%;
    }
    .bodyAbout .titleAbout h2 {
        font-size: 5vw;
        position: relative;
        left: 13%;
    }
    .bodyAbout .textImgAbout {
        font-size: 1.1rem;
        line-height: 200%;
    }
    .bodyAbout .textImgAbout .txtAbout {
        width: 70vw;
        height: 420px;
        overflow: visible;
    }
    .bodyAbout .textImgAbout .imgAbout {
        width: 70%;
        height: 400px;
        overflow: visible;
    }
    .imgAboutOne,
    .imgAboutTwo {
        max-width: 60%;
        max-height: 60%;
    }
    .textImgAbout .imgAbout .imgAboutOne img,
    .textImgAbout .imgAbout .imgAboutTwo img {
        max-width: 95%;
        max-height: 95%;
    }
    .imgAboutOne {
        position: absolute;
        left: 0;
        top: -90px;
    }
    .imgAboutTwo {
        position: absolute;
        left: 28%;
        top: 100px;
    }
    /*----------services---------------------*/
    .titleService {
        width: 62%;
    }
    .card .designWeb,
    .card .formulaWeb,
    .card .outsourcing {
        width: 300px;
    }
    .titleService h3 {
        font-size: 3vw;
        text-align: start;
    }
    .titleService h2 {
        font-size: 6vw;
        text-align: end;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*----------expertise-------------------*/
    #expertise {
        width: 100vw;
        height: 900px;
        overflow: hidden;
    }
    .bodyExpertise {
        width: 100vw;
        height: 100%;
        flex-direction: row-reverse;
    }
    .bodyExpertise .menuExpertise {
        width: 50%;
    }
    .explanationsExpertise {
        height: 100%;
    }
    .titleExpertise {
        z-index: 500;
    }
    .titleExpertise h2 {
        font-size: 3.5rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1rem;
        width: 100vw;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: .7rem;
        position: relative;
        left: -13%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -8%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -8%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -17%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise {
        width: 85%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1),
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2),
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3),
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        position: relative;
        left: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        top: 10%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        top: 12%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        top: 14%;
        left: -6%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        top: 13%;
        left: -33.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: -0.5vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        left: -1.4vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: -3vw;
        top: 40%;
    }
    .explanationsExpertise div h3 {
        font-size: 2.5rem;
        margin-top: 30%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) p {
        padding-left: 40px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.2rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: .9rem;
        left: -10%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -5%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -3%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -16%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        left: 3.5px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        left: .5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        left: -11.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        left: -35%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) p {
        padding-left: 40px;
        padding-bottom: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: -.5%;
    }
}

@media screen and (min-width: 1250px) {
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.3rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1rem;
        left: -9%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -3.5%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -14%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        left: 5px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        left: .5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        left: -11.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        left: -33%;
    }
}

@media screen and (min-width: 1500px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 60%;
    }
    .presentationTitle h1 {
        font-size: 3vw;
    }
    .presentationTitletow h2 {
        font-size: 1.9vw;
    }
    /*----------about---------------------*/
    .quotes {
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .quotes p:nth-child(2) {
        margin-right: 0;
    }
    .bodyAbout {
        margin-bottom: 70px;
    }
    .bodyAbout .textImgAbout {
        font-size: 1.5rem;
        padding-right: 50px;
    }
    .findOutMore {
        line-height: normal;
    }
    .imgAbout {
        margin-left: .2vw;
    }
    .imgAboutOne,
    .imgAboutTwo {
        max-height: 80%;
        max-width: 500px;
    }
    .imgAboutOne {
        top: -150px;
    }
    .imgAboutTwo {
        top: 120px;
    }
    /*----------services---------------------*/
    .card .designWeb,
    .card .formulaWeb,
    .card .outsourcing {
        width: 350px;
    }
    #services .cardImgEnd {
        width: 450px;
        left: -45vw;
    }
    /*----------expertise-------------------*/
    .titleExpertise h2 {
        padding-top: 50px;
    }
    .titleExpertise .quotes {
        width: 100%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.4rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1.1rem;
        left: -12.5%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: 1.5%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -7%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -18%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise .activeExpertise {
        background-position: left;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        top: 5%;
        left: 15px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        top: 7%;
        left: 5px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        top: 9%;
        left: -13.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        top: 11%;
        left: -33.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: -0.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        left: -1.4vw;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        top: 45%;
        left: -.2%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4)::before {
        left: -2.2vw;
    }
    .explanationsExpertise div h3 {
        font-size: 3rem;
        margin-top: 35%;
    }
    .explanationsExpertise div p {
        font-size: 1.1rem;
    }
    .activeExpertise p {
        padding-left: 50px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)+.activeExpertise {
        padding-left: 50px;
        padding-top: 10px;
    }
    .managementExpertise,
    .disgnExpertise,
    .devExpertise,
    .performanceExpertise {
        padding: 0 50px;
    }
}

@media screen and (min-width: 1600px) {
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1.1rem;
        left: -14.5%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -1.5%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -8%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -20%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        left: 1.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: -.2%;
    }
    .explanationsExpertise div h3 {
        margin-top: 30%;
    }
    .explanationsExpertise div p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1900px) {
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.5rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1.2rem;
        left: -18%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -5.5%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -12%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -22.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1) {
        left: 2%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        left: .7%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: .1%;
    }
}

@media screen and (min-width: 2000px) {
    .explanationsExpertise div h3 {
        margin-top: 25%;
        font-size: 3.5rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.6rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1.3rem;
        left: -17.5%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -14.5%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -11.5%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -22%;
    }
    .explanationsExpertise div p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2500px) {
    .titleExpertise .quotes .quotesOne p:nth-child(1),
    .titleExpertise .quotes .quotesTwo p:nth-child(1),
    .titleExpertise .quotes .quotesThree p:nth-child(1),
    .titleExpertise .quotes .quotesFour p:nth-child(1) {
        font-size: 1.7rem;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2),
    .titleExpertise .quotes .quotesTwo p:nth-child(2),
    .titleExpertise .quotes .quotesThree p:nth-child(2),
    .titleExpertise .quotes .quotesFour p:nth-child(2) {
        font-size: 1.4rem;
        left: -22.5%;
    }
    .titleExpertise .quotes .quotesOne p:nth-child(2) {
        left: -20%;
    }
    .titleExpertise .quotes .quotesTwo p:nth-child(2) {
        left: -17%;
    }
    .titleExpertise .quotes .quotesThree p:nth-child(2) {
        left: -26%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(1)::before {
        left: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) {
        left: -2%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2) p {
        padding-left: 20px;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(2)::before {
        left: -.1%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3) {
        left: -13.2%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(3)::before {
        left: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) {
        left: -38.5%;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4)::before {
        left: 0;
    }
    .bodyExpertise .menuExpertise .listeMenuExpertise div:nth-child(4) p {
        padding-left: 40px;
    }
    .explanationsExpertise div h3 {
        margin-top: 20%;
        font-size: 4rem;
    }
    .explanationsExpertise div p {
        font-size: 1.7rem;
    }
}