/* ------------Presentation section -------- */

#presentationSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../img/fontweiwe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.contenaireAnimation {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.imgAnimation1,
.imgAnimation2,
.imgAnimation3,
.imgAnimation4,
.imgAnimation5,
.imgAnimation6,
.imgAnimation7,
.imgAnimation8,
.imgAnimation9,
.imgAnimation10,
.imgAnimation11,
.imgAnimation12,
.imgAnimation13,
.imgAnimation14 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.imgAnimation1 {
    background-image: url(../img/plan4_1.png);
    left: 0;
}

.imgAnimation2 {
    background-image: url(../img/plan4_2.png);
    right: 0;
}

.imgAnimation3 {
    background-image: url(../img/plan4_3.png);
    left: 0;
}

.imgAnimation4 {
    background-image: url(../img/plan4_4.png);
    right: 0;
}

.imgAnimation5 {
    background-image: url(../img/plan4_5.png);
    left: 0;
}

.imgAnimation6 {
    background-image: url(../img/plan4_6.png);
    left: 0;
}

.imgAnimation7 {
    background-image: url(../img/plan4_7.png);
    left: 0;
}

.imgAnimation8 {
    background-image: url(../img/3planguauche.png);
    right: 0;
}

.imgAnimation9 {
    background-image: url(../img/3plandroit.png);
    left: 0;
}

.imgAnimation10 {
    background-image: url(../img/2planguauche.png);
    right: 0;
}

.imgAnimation11 {
    background-image: url(../img/2plandroit.png);
    left: 0;
}

.imgAnimation12 {
    background-image: url(../img/1planguauche.png);
    right: 0;
}

.imgAnimation13 {
    background-image: url(../img/1plandroit.png);
    right: 0;
}

.imgAnimation14 {
    background-color: rgb(0, 0, 0, 0.3);
}

.title {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.presentationTitle {
    width: 90%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.presentationTitletow {
    width: 90%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentationTitle h1 {
    color: #BFA76A;
    text-shadow: black -4px 4px 5px;
    font-size: 9vw;
    font-family: 'Crimson Text Regular', Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 0px 0px 2px black, 0 0 3px black, 0 0 4px black;
    visibility: hidden;
    opacity: 0;
}

.presentationTitletow h2 {
    opacity: 0;
    visibility: hidden;
    color: white;
    font-size: 6vw;
    margin-top: 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-weight: 100;
}

.titleNext {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contactButun {
    opacity: 0;
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: #BFA76A;
    box-shadow: -4px 4px 5px black;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
}

.contactButun a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    font-family: 'Montserrat Regular', 'Times New Roman', Times, serif;
}

.next {
    opacity: 0;
    visibility: hidden;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #fff;
    place-self: center end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next a img {
    width: 20px;
    height: 25px;
}


/*----------about---------------------*/

#about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.quotes {
    width: 100%;
    font-family: 'Gloria Hallelujah Regular', 'Times New Roman', Times, serif;
    color: #BFA76A;
}

.quotes p:nth-child(1) {
    font-size: 25px;
    text-align: center;
}

.quotes p:nth-child(2) {
    font-family: 'Montserrat Regular', 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
    text-align: end;
    margin: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.bodyAbout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyAbout .titleAbout {
    width: 100%;
    margin-bottom: 30px;
}

.bodyAbout .titleAbout h3 {
    font-size: 12vw;
    text-align: center;
    margin-bottom: 10px;
}

.bodyAbout .titleAbout h2 {
    font-size: 19vw;
    text-align: center;
}

.bodyAbout .textImgAbout {
    width: 100%;
    padding: 0 20px 0 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bodyAbout .textImgAbout .findOutMore {
    justify-self: end;
    height: 50px;
    margin: 40px 10px;
    border: 2px solid #BFA76A;
    display: flex;
    align-items: center;
    text-align: center;
}

.bodyAbout .textImgAbout .findOutMore a {
    width: 100%;
    text-decoration: none;
    color: #BFA76A;
}

.bodyAbout .textImgAbout .imgAbout {
    width: 100%;
    height: 75vw;
    position: relative;
    margin-bottom: 30px;
}

.imgAboutOne,
.imgAboutTwo {
    width: 61vw;
    height: 40vw;
    background-color: #BFA76A;
    position: relative;
}

.textImgAbout .imgAbout .imgAboutOne img,
.textImgAbout .imgAbout .imgAboutTwo img {
    width: 58vw;
    height: 37vw;
}

.textImgAbout .imgAbout .imgAboutOne img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.imgAboutTwo {
    position: absolute;
    right: 0;
    bottom: 0;
}


/*----------services---------------------*/

#services {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
}

#services h2 {
    background-color: yellow;
    height: 100vh;
}


/*----------contact---------------------*/

#contact {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

#contact h2 {
    background-color: blue;
    height: 100vh;
}


/*----------media querise--------------------------------*/


/*-------height management--------------*/

@media screen and (max-height: 450px) {
    #presentationSection {
        height: 700px;
    }
    .title {
        width: 100%;
        height: 100%;
    }
    .presentationTitle {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}


/*-------width management--------------*/

@media screen and (min-width: 350px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 9vw;
    }
    .titleNext {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 450px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 8vw;
    }
    .presentationTitletow h2 {
        font-size: 5vw;
        margin-top: 10px;
    }
    .contactButun {
        width: 200px;
        height: 50px;
    }
    .contactButun a {
        font-size: 20px;
    }
    .next {
        width: 60px;
        height: 60px;
    }
    .next a img {
        width: 25px;
        height: 35px;
    }
}

@media screen and (min-width: 600px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 90%;
    }
    .presentationTitle h1 {
        font-size: 6vw;
    }
    .presentationTitletow h2 {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 800px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 70%;
    }
    .presentationTitle h1 {
        font-size: 5.5vw;
        margin-bottom: 50px;
    }
    .presentationTitletow h2 {
        font-size: 3.5vw;
    }
    .titleNext {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    .contactButun {
        width: 250px;
        height: 50px;
        margin-left: 50px;
    }
    .contactButun a {
        font-size: 25px;
    }
    .next {
        width: 60px;
        height: 60px;
    }
    .next a img {
        width: 25px;
        height: 35px;
    }
}

@media screen and (min-width: 1000px) {
    /* ------------Presentation section -------- */
    .presentationTitle h1 {
        font-size: 3vw;
        margin-bottom: 50px;
    }
    .presentationTitletow h2 {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1500px) {
    /* ------------Presentation section -------- */
    .presentationTitle {
        width: 60%;
    }
    .presentationTitle h1 {
        font-size: 3vw;
    }
    .presentationTitletow h2 {
        font-size: 1.9vw;
    }
}